{% extends "template.html" %} {% block body %}

<h1>Oops! Looks like we're a little lost.</h1>

<a href="{{ url_for('homepage') }}"><p>Click Here</a> to go to the Home Page</p>

<div class="d-inline-flex">
    <p>Redirecting in</p>
    <p id="timer"></p> 
    <p>seconds</p> 
</div>

<script nonce="{{ csp_nonce() }}">
    var seconds = 6
    let url = "{{ url_for('homepage') }}"
    function redirect(){
        if (seconds <= 0){
        window.location = url
        } else {
            seconds--
            document.getElementById('timer').innerHTML=`${seconds}`
            setTimeout(() => redirect(), 1000)
        }
    }

    redirect()
</script>
{% endblock %}  