<nav class="navbar bg-dark navbar-expand-lg p-2" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Resolute</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Server Content-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Server Content</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for("resolute.house_rules") }}">House Rules</a></li>
                        <li><a class="dropdown-item" href="{{ url_for ("resolute.content_rulings") }}">Content Rulings</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("resolute.errata") }}">Server Errata</a></li>
                        <li><a class="dropdown-item" href="#">Market</a></li>
                        <li><a class="dropdown-item" href="https://chicken-dinner.com/5e/5e-point-buy.html#select&NA&8&8&8&8&8&8&0&0&32&15&8&19&15&12&9&7&5&4&3&2&1&0&1&2&4&6&9&4&4&4&4&4&4" target="_blank">Stat Planner</a></li>
                    </ul>
                </li>

                <!-- Characters -->
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Characters</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for("resolute.species") }}">Species</a></li>
                        <li><a class="dropdown-item" href="#">Classes</a></li>
                        <li><a class="dropdown-item" href="#">Archetypes</a></li>
                        <li><a class="dropdown-item" href="#">Backgrounds</a></li>
                        <li><a class="dropdown-item" href="#">Features</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Maneuvers</a></li>
                        <li><a class="dropdown-item" href="#">Fighting Styles</a></li>
                        <li><a class="dropdown-item" href="#">Fighting Masteries</a></li>
                        <li><a class="dropdown-item" href="#">Lightsaber Forms</a></li>
                        <li><a class="dropdown-item" href="#">Weapon Focuses</a></li>
                        <li><a class="dropdown-item" href="#">Weapon Supremacies</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Class Improvements</a></li>
                        <li><a class="dropdown-item" href="#">Multiclass Improvements</a></li>
                        <li><a class="dropdown-item" href="#">Splashclass Improvements</a></li>
                    </ul>
                  </li>

                <!-- Items -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Items</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Mundane Items</a></li>
                        <li><a class="dropdown-item" href="#">Enhanced Items</a></li>
                    </ul>
                </li>

                <!-- Powers -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Powers
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for("resolute.tech_powers") }}">Tech Powers</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("resolute.force_powers") }}">Force Powers</a></li>
                    </ul>
                </li>

                <!-- Resources -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">5e/SW5E Equivalents</a></li>
                        <li><a class="dropdown-item" href="#">Factions</a></li>
                        <li><a class="dropdown-item" href="#">Character Sheet</a></li>
                        <li><a class="dropdown-item" href="#">Galaxy Map</a></li>
                        <li><a class="dropdown-item" href="#">Rules</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Search -->
            <form class="d-flex" action="{{ url_for("resolute.search") }}" method="get">
                <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>

    {% if current_user.is_authenticated %}
    <div class="d-flex ms-auto align-items-center" id="user-info-container"></div>
        <a class="navbar-brand ms-auto" href="#" id="user-badge">
            <p class="text-muted d-inline">{{current_user.username}}</p>
            {% if current_user.avatar_url %}
            <img src="{{current_user.avatar_url}}" class="rounded-circle" width="35" height="auto">
            {% endif %}
        </a>
    </div>  
    {% endif %}
</nav>