<nav class="navbar bg-dark navbar-expand-lg p-2" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Resolute</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Server Content-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Server Content</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for("house_rules") }}">House Rules</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("content_rulings") }}">Content Rulings</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("errata") }}">Server Errata</a></li>
                        <li><a class="dropdown-item" href="https://chicken-dinner.com/5e/5e-point-buy.html#select&NA&8&8&8&8&8&8&0&0&32&15&8&19&15&12&9&7&5&4&3&2&1&0&1&2&4&6&9&4&4&4&4&4&4" target="_blank">Stat Planner</a></li>
                    </ul>
                </li>

                <!-- Characters -->
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Characters</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for("species") }}">Species</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("classes") }}">Classes</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("archetypes") }}">Archetypes</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("backgrounds") }}">Backgrounds</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("features") }}">Features</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for("maneuvers") }}">Maneuvers</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("fighting_styles") }}">Fighting Styles</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("fighting_masteries") }}">Fighting Masteries</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("lightsaber_forms") }}">Lightsaber Forms</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("weapon_focus") }}">Weapon Focuses</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("weapon_supremacies") }}">Weapon Supremacies</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for("class_improvements") }}">Class Improvements</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("multiclass_improvements") }}">Multiclass Improvements</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("splashclass_improvements") }}">Splashclass Improvements</a></li>
                    </ul>
                  </li>

                <!-- Items -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Items</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for("weapons") }}">Weapons</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("armor") }}">Armor</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("adventuring") }}">Adventuring Gear</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for("consumables") }}">Consumables</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("item_modifications") }}">Item Modifications</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("droid_customizations") }}">Droid Customizations</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("cybernetic_augmentations") }}">Cybernetic Augmentations</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("enhanced_items") }}">Enhanced Items (Everything Else)</a></li>
                    </ul>
                </li>

                <!-- Powers -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Powers
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for("tech_powers") }}">Tech Powers</a></li>
                        <li><a class="dropdown-item" href="{{ url_for("force_powers") }}">Force Powers</a></li>
                    </ul>
                </li>

                <!-- Resources -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://www.gmbinder.com/share/-N8xKtsF_UuyjzfvOHqz" target="_blank">5e/SW5E Equivalents</a></li>
                        <li><a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1hYdG-bBtZ90pLHnlrSOknC_NhQdKPnShFrEVTAmz5JA/edit?gid=705097714#gid=705097714" target="_blank">Factions</a></li>
                        <li><a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/17majk3zixwQguF8AqsS2ZfgLm4neZaimq9vmjwniuBw/edit?gid=359784640#gid=359784640" target="_blank">Character Sheet</a></li>
                        <li><a class="dropdown-item" href="https://live.staticflickr.com/65535/54059705009_81076010db_h.jpg" target="_blank">Galaxy Map</a></li>
                        <li><a class="dropdown-item" href="https://sw5e.com/rules" target="_blank">Rules</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Search -->
            <form class="d-flex" action="#" method="get">
                <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>

    {% if current_user %}
    <div class="d-flex ms-auto align-items-center" id="user-info-container"></div>
        <a class="navbar-brand ms-auto" href="#" id="user-badge">
            <p class="text-muted d-inline">{{current_user.username}}</p>
            {% if current_user.avatar_url %}
            <img src="{{current_user.avatar_url}}" class="rounded-circle" width="35" height="auto">
            {% endif %}
        </a>
    </div>  
    {% endif %}
</nav>