{% extends "template.html" %} {% block body %}

{% if current_user.is_admin %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
{% endif %}

<h1>{{ title }}</h1>

<filterable-table table-id="equipment-table" button-text="New Item" key="cat"></filterable-table>

{% if current_user.is_admin %}
<custom-modal title="New Equipment" custom-id="cat-edit-form">
    <div class="container">
        <div class="row mb-2">
            <div class="col mb-2">
                <select-input custom-id="equipment-category" custom-label="Equipment Category" options='{{ options['equipment-category']|tojson }}'></select-input>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col mb-3">
                <button type="button" class="btn btn-primary float-end m-3" id="equipment-next" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#equipment-edit-form">
                    Next
                </button>
            </div>
        </div>
    </div>
</custom-modal>

<custom-modal title="Equipment" custom-id="equipment-edit-form" data-subcategory='{{ options['equipment-subcategory']|tojson }}'>
    <div class="container">
        <div class="row mb-2">
            <div class="col-6 mb-2">
                <text-input label-text="Name" custom-id="equipment-name" required></text-input>
            </div>
            <div class="col-6 mb-2" id="equipment-subcategory-col">
                <select-input 
                custom-id="equipment-subcategory" 
                custom-label="Sub Category" 
                allownone></select-input>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6 mb-2">
                <select-input custom-id="equipment-source" custom-label="Content Source" options='{{ options['content-source']|tojson }}'></select-input>
            </div>
            <div class="col-3 mb-2">
                <number-input custom-id="equipment-cost" label-text="Cost"></number-input>
            </div>
            <div class="col-3 mb-2">
                <number-input custom-id="equipment-weight" label-text="Weight"></number-input>
            </div>
        </div>
        <div class="row mb-2" id="damage-row">
            <div class="col-4 mb-2">
                <number-input custom-id="equipment-dmg-number-die" label-text="Number of Damage Die"></number-input>
            </div>
            <div class="col-4 mb-2">
                <number-input custom-id="equipment-dmg-die-type" label-text="Damage Die Type"></number-input>
            </div>
            <div class="col-4 mb-2">
                <text-input label-text="Damage Type" custom-id="equipment-dmg-type" required></text-input>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6 mb-2" id="prop-col">
                <text-input label-text="Properties" custom-id="equipment-properties"></text-input>
            </div>
            <div class="col-3 mb-2" id="ac-col">
                <text-input label-text="AC" custom-id="equipment-ac"></text-input>
            </div>
            <div class="col-3 mb-2" id="stealth-col">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="equipment-stealth-dis" name="equipment-stealth-dis">
                    <label class="form-check-label" for="equipment-stealth-dis">Stealth Disadvantage?</label>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <label for="equipment-description" class="form-label fw-bold">Description</label>
            <textarea id="equipment-description" value="" spellcheck="true" class="form-control big-edit-body"></textarea>
        </div>
        <div class="row mb-2">
            <div class="col mb-3">
                <button type="button" class="btn btn-primary float-end m-3" id="equipment-submit" data-bs-dismiss="modal">
                    Submit
                </button>
                <button type="button" class="btn btn-danger float-end m-3" id="equipment-delete" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#delete-confirm-modal">
                    Delete
                </button>
            </div>
        </div>
    </div>
</custom-modal>

<custom-modal title="Confirm Delete" custom-id="delete-confirm-modal">
    <div class="container">
        <div class="row mb-2">
            Are you sure you want to delete this piece of equipment??
        </div>
        <div class="row-mb-2">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-id="" id="equipment-delete-confirmed">Delete</button>
        </div>
    </div>
</custom-modal>
{% endif %}

{% endblock %}