{% extends "template.html" %} {% block body %}

<div class="container m-2">
    <div class="row mb-2">
        <div class="col-auto w-50">
            <text-input label-text="Search" custom-id="filter-search"></text-input>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-auto">
            <button class="btn rounded-3 dropdown-toggle text-white" type="button" id="filterButton" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                <i class="fa-solid fa-filter"></i>
                <span>Filter</span>
            </button>

            <ul class="dropdown-menu" aria-labelledby="filterButton" id="power-filter">
            </ul>
        </div>
        <div class="col-auto">
            <div id="active-power-filters"></div>
        </div>
        <div class="col-auto ms-auto">
            <button id="clear-all-filters" class="btn btn-sm btn-outline-secondary ms-2 d-none">Clear All Filters</button>
        </div>
    </div>
    <table id="power-table" class="table table-striped"></table>
</div>

{% endblock %}