{% extends "template.html" %} {% block body %}

<div class="container m-2">
    <div class="row mb-2">
        <div class="col-auto w-50">
            <text-input label-text="Name" custom-id="filter-name"></text-input>
        </div>
        <div class="col-auto">
            <text-input label-text="Pre-Requisite" custom-id="filter-prereq"></text-input>
        </div>
        {% if force %}
        <div class="col-auto">
            <select-tab custom-label="Alignment" custom-id="filter-alignment"></select-tab>
        </div>
        {% endif %}
    </div>

    <div class="row mb-2">
        <div class="col-auto">
            <select-tab custom-label="Level" custom-id="filter-level" multiple size="5"></select-tab>
        </div>
    </div>
    <table id="power-table" class="table table-striped"></table>
</div>

{% endblock %}