{% extends "template.html" %} {% block body %}

<h1>{{ title }}</h1>

<div class="container m-2 position-relative">
    {% if current_user.is_admin %}
     <button type="button" id="new-power-btn" data-bs-toggle="modal" data-bs-target="#power-edit-form" class="btn btn-link position-absolute top-0 end-0 m-2 p-0" title="New Power">
        <i class="fa fa-plus"></i>
    </button>
    {% endif %}

    <div class="row mb-2">
        <div class="col-auto w-50">
            <text-input label-text="Search" custom-id="filter-search"></text-input>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-auto">
            <button class="btn rounded-3 dropdown-toggle text-white" type="button" id="filterButton" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                <i class="fa-solid fa-filter"></i>
                <span>Filter</span>
            </button>

            <ul class="dropdown-menu" aria-labelledby="filterButton" id="filter-dropdown" data-table="#power-table">
            </ul>
        </div>
        <div class="col-auto">
            <div id="active-filters"></div>
        </div>
        <div class="col-auto ms-auto">
            <button id="clear-all-filters" class="btn btn-sm btn-outline-secondary ms-2 d-none">Clear All Filters</button>
        </div>
    </div>
    <table id="power-table" class="table table-striped"></table>
</div>

<custom-modal title="Power (I don't do anything yet)" custom-id="power-edit-form">
    <div class="container">
        <div class="row mb-2">
            <div class="col-auto">
                <text-input label-text="Name" custom-id="power-name"></text-input>
            </div>
        </div>
    </div>
</custom-modal>

{% endblock %}