{% extends "template.html" %} {% block body %}

{% if is_admin %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
{% endif %}

<h1>Backgrounds</h1>

<filterable-table table-id="background-table" button-text="New Background" key="background" data-source='{{table|tojson|e}}'></filterable-table>

{% if is_admin %}
{% include '/backgrounds/background_modal.html' %}
{% endif %}

{% endblock %}