{% extends "template.html" %} {% block body %}

{% if current_user.is_admin %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
{% endif %}

<h1>Archetypes</h1>

<filterable-table table-id="archetype-table" button-text="New Archetype" key="archetype"></filterable-table>

{% if current_user.is_admin %}
{% include '/archetypes/archetype_modal.html' %}
{% endif %}

{% endblock %}